{% extends 'base.html' %}

{% block title %}
Post Issue
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/post_issue.css">

{% endblock %}

{% block content %}
<div class="post_issue_content">
    <div class="page-header" id="page_header">
      <h1>Post issue</h1>
    </div>
    <form class="post_issue_form" method="post">
        <div class="form-group" id="issue_titile_div">
            <input type="text" class="form-control" name="title" id="inputEmail3" placeholder="title">
        </div>
        <div class="form-group" id="issue_text_div">
            <input type="text" class="form-control" name="text" id="inputEmail3" placeholder="text">
        </div>
        <div id="post_issue_butt">
          <button type="submit" class="btn btn-default">Post</button>
        </div>
    </form>
</div>
<!-- 实例化编辑器 -->
<script type="text/javascript">
    var editor = UE.getEditor('editor');
</script>
{% endblock %}

{% block post_issue_class %}
active
{% endblock %}